/* Basic styles for body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack header, main, and footer vertically */
    height: 100vh; /* Full height */
    margin: 0;
    background-color: #f0f0f0;
    width: 100%;
  }
  
  /* Header styles */
  header {
    background-color: #dce9dc; 
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  header ul li {
    display: inline-block;
    font-size: 18px;
  }
  
  header .logo {
    font-size: 40px; /* Make the logo larger */
    margin-right: 15px;
    font-weight: bold;
  }
  
  /* Main section styles */
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 20px;
  }
  
  article {
    flex: 2; /* 2/3 of the width */
    overflow-y: auto;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  aside {
    flex: 1; /* 1/3 of the width */
    overflow-y: auto;
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Footer styles */
  footer {
    display: flex;
    background-color: #e1eee2; /* Green background */
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Text styling for content */
  h2 {
    color: #333;
  }
  
  p {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
  }
  
  footer h2 {
    margin: 0;
  }
  
  /* Styling for footer h2 */
  footer h2 {
    margin: 0;
    font-size: 18px;
  }
  